<!doctype html>
<html lang="en">

<head>
  <title><%= title %> </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="/dashboard/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <style>
    body {
      margin: 0;
      padding: 2rem;
      }
      
      table {
      text-align: left;
      position: relative;
      border-collapse: collapse; 
      }
      th, td {
      padding: 0.25rem;
      }
      tr.red th {
      background: red;
      color: white;
      }
      tr.green th {
      background: green;
      color: white;
      }
      tr.purple th {
      background: purple;
      color: white;
      }
      th {
      background: white;
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      }
      #table-wrapper {
      position:relative;
      }
      #table-wrapper-1 {
        position:relative;
        }
      #table-scroll {
      height:750px;
      overflow:auto;  
      margin-top:20px;
      }
      #table-scroll-1{
        height:450px;
        width: 50%;
        overflow:auto;  
        margin-top:20px;
        }
      #table-wrapper-1 table {
          width:100%;
      }
      #table-wrapper table {
      width:100%;
      
      }
      #table-wrapper table thead th .text {
      position:absolute;   
      top:-20px;
      z-index:2;
      height:20px;
      width:35%;
      border:1px solid red;
      }
      #table-wrapper-1 table thead th .text {
        position:absolute;   
        top:-20px;
        z-index:2;
        height:20px;
        width:35%;
        border:1px solid red;
        }
      #table1, #table2, #table3, #table4,#table5 {
        display: none;
    }
  </style>
</head>
<body>
  <div class="sidebar" data-color="green" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
      <a href="/dashboard" class="simple-text logo-normal">
          <%= user.name %>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="/dashboard">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="/analysis">
            <i class="material-icons">analytics</i>
            <p>Analysis</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="/visual">
            <i class="material-icons">ac_unit</i>
            <p>Visualization</p>
          </a>
        </li>
        <li class="nav-item active  ">
          <a class="nav-link" href="/ml_actions">
            <i class="material-icons">find_in_page</i>
            <p>ML Operations</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>