<% if(dis){%>
    <strong>The following columns present in the file:</strong><br>
    <%= ml_columns %> <br><br>
    <form action="/file/in_out" method="POST">
        <label>Enter the input columns: </label><p>* All column values must be in numeric</p>
        <input class="form-control" type="text" data-style="btn-info" name="input_column"><br>
        <label>Enter the output columns: </label>
        <input class="form-control" type="text" data-style="btn-info" name="output_column"><br>
        <button class="btn btn-info">Submit</button>
    </form>
    <% if(important.length > 0){ %>
        <h5>Feature importantance and model score:</h5>
        <% var b = important.replace(/'/g, '"') %> 
        <% var c = JSON.parse(b.toString()) %>
        <% for(var key in c){%>
        <p><strong><%= key %> - </strong><%= c[key]%></p>
        <% } %> 
    <% }%>
<% } %> 
<script>
</script>