<% if(dis){%>
<% include ../login_temp/partials/messages %>
<form action="" method="POST">
        <label>Select Chart Type:</label>
        <select class="form-control" data-style="btn-info" id="ddlViewBy">
            <option name="" value="always">Select chart to view</option>
            <option name="c_1" value="bar_c">Bar Chart</option>
            <option name="c_1" value="pie_c">Pie Chart</option>
            <option name="c_2" value="scar_c">Scatter Chart</option>
            <option name="c_2" value="line_c">Line Chart</option>
        </select><br>
        <p id="c_exp"></p>
        <label>Enter column name:</label><br>
            <input class="form-control" type="text" name="bar_c_name" id="bar_c_id">
        <button class="btn btn-info">Show</button>
</form>
    <div id="chart" style="width: 700px; height: 450px;"></div>

<% } %> 
<script>
    const Form = document.querySelector('form')
    const select = document.querySelector('#ddlViewBy')
    const c_name = document.querySelector("#bar_c_id")
    Form.addEventListener('submit',(e)=>{
        e.preventDefault()
        const d_s = select.value
        if(d_s == 'bar_c'|| d_s == 'pie_c' || d_s == 'box_c'){
                fetch('http://localhost:5000/file/bar_c/'+c_name.value).then((response)=>{
                    if (!response.ok) {
                        throw 'Error';
                    }

                    console.log(d_s)
                    response.json().then((data)=>{
                        if(d_s == 'bar_c'){
                            bar_chart(data.title,data.x,data.y)
                        }else if(d_s == 'pie_c'){
                            var arr = []
                            for(var i=0;i<data.x.length;i++){
                                var item ={value:parseInt(data.y[i]),name:data.x[i]};
                                arr.push(item);
                            }
                            pie_chart(data.title,data.x,arr)
                        }
                })
                })
        }else if(d_s == 'line_c' || d_s == 'scar_c'){
            var str = new String(c_name.value).split(",")
            fetch('http://localhost:5000/file/line_c/'+str[0]+'/'+str[1]).then((response)=>{
                if (!response.ok) {
                    throw 'Error';
                }

                console.log(d_s)
                response.json().then((data)=>{
                    if(d_s == 'scar_c'){
                    var a = data.x
                    var b = data.y
                    var c = a.map(function(e, i) {return [e, b[i]];});
                    console.log(c)
                    scatter_chart(data.x_title,data.y_title,c)
                }else{
                    line_chart(data.x_title,data.y_title,data.x,data.y)
                }
                })
            })
        }else{
        }
    })

    function bar_chart(t,x,y){
        var chart = document.getElementById('chart');
    		var myChart = echarts.init(chart);
    		var option = {
    			title: {},
    			tooltip: {},
    			legend: { data: [t] },
    			xAxis: { data:x},
    			yAxis: { },
    			series: [{
    				name: t,
    				type: 'bar',
    				data: y
    			}]
    		};
    		myChart.setOption(option);
    }

    function pie_chart(t,name,arr){
        var chart = document.getElementById('chart');
    	var myChart = echarts.init(chart);
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: name
            },
            series: [
                {
                    name:t,
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: arr,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        }
        myChart.setOption(option);
    }

    function scatter_chart(x,y,arr){
        var chart = document.getElementById('chart');
    	var myChart = echarts.init(chart);
        var option = {
            xAxis: {
                type:"value",
                name:x
            },
            yAxis: {
                type:"value",
                name:y
            },
            series: [{
                symbolSize:5,
                data:arr,
                type: 'scatter'
            }]
        };
        myChart.setOption(option);
    }
    
    function line_chart(x_t,y_t,x,y){
        var chart = document.getElementById('chart');
    	var myChart = echarts.init(chart);
        var option = {
            xAxis: {
                type: 'category',
                name:x_t,
                data:x
            },
            yAxis: {
                name:y_t,
                type: 'value'
            },
            series: [{
                data:y,
                type: 'line'
            }]
        };
        myChart.setOption(option);
    }
</script>