<% include header %>
<title>Login</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                  <div class="col-md-8">
                    <div class="mb-4">
                        <h3>Reset <strong>Password</strong></h3>
                      </div>

                <% include ./partials/messages %>
            <form action="/users/forgot" method="POST">
                <div class="form-group first">
                  <label for="username">Email</label>
                  <input type="text" class="form-control" id="email" name="email">
                </div>
                <input type="submit" value="Reset Password" class="btn text-white btn-block btn-primary">
            </form>
        </div>
        </div>
        </div>
        </div>
        
    </div>

<% include footer %> 