<% include header %>
<title>Login</title>
</head>
<body><br><br>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="/login/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Sign In to <strong>D5</strong></h3>
            <p class="mb-4">D5 - Data Analytics Tool (Collect, Clean, Analyze, Visual)</p>
          </div>
          <% include ./partials/messages %>
          <form action="/users/login" method="POST">
            <div class="form-group first">
              <label for="username">Email</label>
              <input type="text" class="form-control" id="email" name="email">

            </div>
            <div class="form-group last mb-4">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password">
              
            </div>
            
            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                <input type="checkbox" checked="checked"/>
                <div class="control__indicator"></div>
              </label>
              <span class="ml-auto"><a href="/users/forgot" class="forgot-pass">Forgot Password</a></span> 
            </div>

            <input type="submit" value="Log In" class="btn text-white btn-block btn-primary">

            <span class="d-block text-left my-4 text-muted"> or sign in with <a href="/users/register">Register</a></span>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include footer %> 
