<% include header %>
<title>Register</title>
</head>
<body>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="/login/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid" style="float:right;">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
            <h3>Sign Up to <strong>Dashboard</strong></h3>
            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
          </div>
          <% include ./partials/messages %>
          <form action="/users/register" method="POST">
            <div class="form-group first">
              <label for="name">Name</label>
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>
            <div class="form-group last mb-4">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </div>
            <div class="form-group last mb-4">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <div class="form-group last mb-4">
              <label for="password2">Confirm Password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              />
            </div>
            <input type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">
            <span class="d-block text-left my-4 text-muted"> or sign in with <a href="/users/login">Login</a></span>
          </form>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>

<% include footer %> 
